body {
  background-image:url(../img/space.jpg);
}

.jumbotron {
  color:#e4f404;
  background-color: #000;
}

.jumbotron img {
  float: right;
  height: 200px;
  width: 200px;
  border: 10px solid #e4f404;
}

.well{
  background-color: #FFF;
}

label {
  padding-top: 15px;
}

button {
  margin-top: 15px;
  height: 100px;
  width: 200px;
  background-color: #000;
  color: #FFF;
}

button:hover {
  background-color: #e4f404;
}

#ruby, #java, #csharp, #any {
  display: none;
}

#ruby img, #java img, #csharp img, #any img {
  width: 350px;
  height: 350px;
}
